<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uyun.hummer" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".UyunApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">
        <!-- true 为线上版 false为企业版 如果不设置，默认为false企业版-->
        <meta-data android:name="isOnline" android:value="false"/>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="33ZhnEkGPCr8lWdS3ZiUdefj2elsGcRC" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.uyun.hummer.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>


        <activity android:name=".activity.FirstConfigServerActivity"
            android:theme="@style/SplashTheme"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".photo.MultiImageSelectorActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.AboutActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.LoadingActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.OtherWebviewActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.UserInfoActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.CollectAtmeActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.LabelManagerActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.LabelAddActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".zxing.ScannerActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.BaiduMapActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.PrintActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.CameraDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.CameraListActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.CameraSaveActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.PoiSearchDemo"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.MapReviseActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.SelectActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.SingleSelectActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
	    <activity android:name=".activity.InputUrlActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.WebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.SkipWebActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.SkipWebActivity2"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.PoiSearchDemo"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <receiver android:name="com.uyun.hummer.base.fragment.BaseFragment$NotificationClickReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="hardware.print.printBroadcastReceiver" >
            <intent-filter >
                <action android:name="com.printer.printerror" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>
        <service android:name=".utils.update.UpdateService"/>
        <service android:name=".utils.MyService"/>
    </application>

</manifest>